
body {
	margin: 0 0 0 0px;
	padding: 0 96px 0 96px;
}

h1 {
font-size: 84px;
font-family: roc-grotesk,sans-serif;
font-weight: 800;
font-style: normal;
margin: 0 0 0 0;
}

h2 {
	font-family: roc-grotesk,sans-serif;
	font-weight: 800;
	font-style: normal;
	margin: 0 0 0 0;
}

p {
	font-family: calling-code;
	font-size: 16px;
	color: #808080;
	line-height: 25px;
	margin: 0 0 0 0;
}

.top {
	display: flex;
 	align-items: center;
	height: 70vh;
}

.stacked-text {
  text-transform: uppercase;
  line-height: 425%;
}


.carousel {	
	display: flex;
 	align-items: center;
	height: 100vh;

}

.carousel-item {
	color: white;
	min-width: 60%;
	min-height: 75%;
	background-color: purple;
	margin-right: 24px;
}




#a {
	background-color: green;
}

#b {
	background-color: blue;
}

#c {
	background-color: red;
}

